.login-page-container {
  background-image: url(../../../public/assets/images/background.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__login-card-container {
    height: 90vh;
  }
  &__login-card {
    max-width: 350px;
  }
  &__login-card-image {
    width: 100px;
    height: auto;
  }
}
