.login-page-container {
  background-image: url(../../../public/assets/images/background.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
