.page-container {
  //   display: flex;
  //   flex-direction: column;
  width: 100%;
}
#restaurant-data {
  text-align: left;
  margin-top: 3.5rem;
  background-color: #e9e9e9;
  width: 100%;
  h3 {
    display: inline;
  }
}

#restaurant-logo {
  border-radius: 50%;
  width: 8rem;
}

#aside-bar-container {
  float: left;
  display: inline-block;
  width: 20rem;
  background-color: #dee1e4;
  text-align: left;
  height: 100%;
}

#dishes-container {
  text-align: left;
  .item-photo {
    border-radius: 10%;
    width: 8rem;
    float: right;
  }
}
